.moku {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.moku p {
  padding: 10px 30px;
  text-align: center;
  border-radius: 20px;
  margin-top: 30px;
  background-color: #00ffb2;
  font-weight: 500;
  cursor: pointer;
  display: inline;
}
.moku p:hover {
  background-color: #03db9a;
}
.hero-card {
  border: 1px solid grey;
  border-radius: 15px;
  display: flex;
  margin-top: 30px;
}
.hero-section {
  flex-basis: 48%;
  margin: 1%;
}
.hero-left {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.hero-left .hero-btn:hover {
  background-color: var(--primary-color-hover);
}
.hero-left .hero-btn {
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  width: 170px;
  background-color: var(--primary-color);
}
.hero-left h1 span {
  color: red;
}
.hero-left p {
  font-weight: bold;
  margin-bottom: 30px;
}
.hero-left h1 {
  margin-bottom: 20px;
  font-size: 2rem;
}

.hero-right img {
  width: 100%;
}
.moku-interview {
  margin-top: 30px;
  border: 1px solid grey;
  padding: 10px;
  background-color: black;
  color: white;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 50px;
}
.moku-int-left h3 {
  padding: 5px;
}
.moku-int-submit {
  padding: 10px 20px;
  background-color: var(--primary-color);
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.moku-int-submit:hover {
  background-color: var(--primary-color-hover);
}
.upcoming {
  text-align: center;
}
.course-catagory {
  display: flex;
  width: 100%;
}
.course-catagory-item {
  flex-basis: 19%;
  border: 1px solid grey;
  margin: 1%;
  padding: 10px;
  cursor: pointer;
}
.course-catagory-item p:first-child:hover {
  text-decoration: underline;
}
.course-catagory-item:hover {
  background-color: var(--button-hover);
}
.course-catagory-item p {
  font-size: 14px;
}
.courses {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.course {
  border: 1px solid grey;
  flex-basis: 23%;
  margin: 1%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.course img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  margin-bottom: 10px;
}
.info {
  margin-left: 10px;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.info span {
  background-color: var(--search-hover);
  padding: 2px 5px;
  font-size: 10px;
}
.tittle {
  padding: 10px;
  font-size: 1.3rem;
  font-weight: bolder;
}

.coursebtn {
  align-self: center;
  padding: 10px;
  background-color: #eaecf0;
  padding: 8px 70px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.coursebtn:hover {
  background-color: var(--search-hover);
}
.details {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
}
.details button:hover {
  background-color: var(--search-hover);
}
.details button {
  padding: 8px 100px;
  border: none;
  background-color: var(--button-hover);
  font-weight: bolder;
  border-radius: 5px;
  cursor: pointer;
}

.master-class-catagory {
  display: flex;
}
.master-class-catagory div {
  flex-basis: 18%;
  background-color: #101828;
  border-radius: 10px;
  cursor: pointer;
  margin: 0.5%;
  padding: 10px;
  font-size: small;
  font-weight: bold;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}
.freemasterclass {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}
.master-class {
  background-color: #1d2939;
  color: white;
  border-radius: 10px;
}

.master-class-catagory div:hover {
  background-color: #667085;
}
.master-class-upcomingClass {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}
.master-class-upcomingClass .master-classes {
  flex-basis: 23%;
  margin: 1%;
}
.master-class-upcomingClass .master-classes img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  border-color: white;
}
.master-classes:hover {
  background-color: #f3f4f7;
}
.master-classes {
  border-radius: 10px;
  display: flex;
  border-color: white;
  cursor: pointer;
  flex-direction: column;
  background-color: #ffffff;
  color: black;
}
.master-classes p {
  font-size: small;
  padding: 10px;
  color: #d3ab90;
}
.master-classes h1:hover {
  text-decoration: underline;
}
.master-classes h1 {
  font-size: 1rem;
  padding: 10px;
  font-weight: 600;
}

.see_more button {
  margin-bottom: 20px;
}
.cv_and_codemama {
  width: 100%;
  display: flex;
  margin-top: 100px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.img, .cvdt_mamadt{
  flex-basis: 50%;
  width: 100%;
}
.img{
    height: 160px;
    padding: 10px;
}
.img img{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.code_mama,
.cv {
    padding: 6px;
    border-radius: 10px;
  display: flex;
  align-items: center;
  flex-basis: 40%;
  margin: 0 5%;
  color: white;
  background-color: #1D2939;
}
.cvdt_mamadt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.cvdt_mamadt button:hover{
    background-color: var(--button-hover);
}
.cvdt_mamadt button{
    padding: 7px 25px;
    font-weight: normal;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.jajapacchen{
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.supports{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    font-size: 0.7rem;
    margin-bottom: 60px;
}
.element{
    border: 1px solid #D0D5DD;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.element img{
    width: 10%;
}

.successamount{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    margin-bottom: 50px;
}
.amount{
    padding: 20px;
    border-radius: 5px;
}
.successamount .amount:first-child{
    background-color: #D1FADF;
}
.successamount .amount:nth-child(2){
    background-color: #DAE4FF;
}
.successamount .amount:nth-child(3){
    background-color: #FFE8DB;
}
.successamount .amount:nth-child(4){
    background-color: #FFF2CC;
}
.download-sec{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 2fr;
    border: 1px solid #ccc;
    border-radius: 10px;
}
.links{
    margin-top: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.app-link{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
}
.app-link button:hover{
    background-color: var(--button-hover);
}
.app-link button{
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-weight: 600;
    cursor: pointer;
}
.download-sec .download-image{
    width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.download-sec .download-image img{
    width: 100%;
}